<link rel="stylesheet" href="/css/cart.css">
 

<h1> Checkout </h1>
<div id="cartcontainer">

  <% a = @user.products.split(" ")  %>

  <!-- Product Listings -->
  <%if @total%>
  <h1><%=@total%></h1>
  <%end%>

  
<%def number_with_delimiter(number, delimiter=",", separator=".")
  begin
    parts = number.to_s.split('.')
    parts[0].gsub!(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1#{delimiter}")
    parts.join separator
  rescue
   number
  end
end%>
 <div id="top">
  <table id="t">
    <tr>
      <td>Name</td>
      <td>Quantity</td>
      <td>Price</td>
    </tr>
    <%count = 0%>
    <%t = 0%>
    <%for i in 1...a.length - 1%>
      <% b = a[i].split("")%>
      <%num = b.select {|x| x if /\A\d+\z/.match(x) || /\,/.match(x) } %>
      <%string = b.select {|x| x if !/\A\d+\z/.match(x) && !/\,/.match(x) } %>
      <%int = b.select {|x| x if /\A\d+\z/.match(x)  } %>
      <%t += int.join("").to_i%>
      <tr>
      <th><%=string.join("") %></th>
      <%if i == a.length - 2 %>
      <th><%=count%></th>
      <%else%>
      <th>1</th>
      <%end%>
      <%if i == a.length - 2 %>
      <th>$<%=number_with_delimiter(t)%></th>
      <%else%>
      <th>$<%=num.join("")%></th>
       <%end%>
      <%count +=1 %>
      </tr>
    <%end%>
  </table>
  </div>

<form id="b" method="POST" action="/cart">
    <table>
      <tr>
        <td><label for="cardnumber">Card Number</label></th>
        <td><label for="sc">Security Code</label></th>
      </tr>
      <tr>
        <th><input type="text" name="cardnumber"></th>
        <th><input type="text" name="sc"></th>
      </tr>
      <tr>
        <td><label for="nameoncard">Name on Card</label></th>
        <td><label for="expir">Expiration</label></th>
      </tr>
      <tr>
        <th><input type="text" name="number"></th>
        <th><input type="text" name="sc"></th>
        <input type="hidden" name="total" value="<%=number_with_delimiter(t)%>" />
      </tr>
    </table>

    <br>
    <div id="subcontainer">
      <input id="s" class='bttn' type="submit" value="submit">
    </div>
  </form>

</div>


<script>

      
     


</script>